#!/bin/env python{% if verbose %}
# Use http://en.wikipedia.org/wiki/Env instead of
# "#!/usr/bin/python" for extra portability.{% endif %}
# -*- coding: {{ project.encoding }} -*-{% if verbose %}
# Obey PEP263 http://www.python.org/dev/peps/pep-0263/ and put in an encoding
# line for popular editors.{% endif %}

from distribute_setup import use_setuptools
use_setuptools(){% if verbose %}
# Using distribute alongside setuptools as is outlined in
# https://pythonhosted.org/distribute/using.html{% endif %}

from setuptools import setup, find_packages

version = "{{ project.version }}"

setup(
    name="{{ project.shortname }}",
    version=version,
    description={{ project.description }},
    classifiers=[{% if project.classifiers %}
        "{{ "\",\n        \"".join(project.classifiers) }}",
    {% endif %}],
    keywords="{% if project.keywords != "" %}{{ " ".join(project.keywords) }}{% endif %}",
    author="{{ project.author }}",
    author_email="{{ project.email }}",
    url="{{ project.url }}",
    license="{{ project.license }}",{% if verbose %}
    # Make sure you pick a license for your project!
    # commonly selected licenses include the less permissive
    # MIT (http://opensource.org/licenses/MIT) and the more permissive
    # GPLv3 (http://opensource.org/licenses/GPL-3.0) licenses.
    # For help selecting a license, take a peek at
    # https://www.softwarefreedom.org/resources/2008/foss-primer.html
    # for an in-depth discussion about open source license options.
    # For a list of licenses, look at http://opensource.org/licenses{% endif %}
    packages=find_packages({% if project.excludes %}
        exclude=[
            "{{ "\", \n            \"".join(project.excludes) }}"
        ]
    {% endif %}
    ),
    scripts=[
        "distribute_setup.py",
    ],
    include_package_data=True,
    zip_safe=False,
    install_requires=[{% if project.requires %}
        "{{ "\",\n        \"".join(project.requires) }}",
    {% endif %}],
    #TODO: Deal with entry_points
    #entry_points="""
    #[console_scripts]
    #pythong = pythong.util:parse_args
    #"""
)
